.lt-wrap{width: 1024px;}
.head-navi{
    background-image: url(../images/head-navi-bg/1024/navi_bg.png);
}
.head-navi>li:first-child:hover,.head-navi>li:first-child.actived{background-image: url(../images/head-navi-bg/1024/B1.png);}
.head-navi>li:first-child+li:hover,.head-navi>li:first-child+li.actived{background-image: url(../images/head-navi-bg/1024/B2.png);}
.head-navi>li:first-child+li+li:hover,.head-navi>li:first-child+li+li.actived{background-image: url(../images/head-navi-bg/1024/B3.png);}
.head-navi>li:first-child+li+li+li:hover,.head-navi>li:first-child+li+li+li.actived{background-image: url(../images/head-navi-bg/1024/B4.png);}
.head-navi>li:first-child+li+li+li+li:hover,.head-navi>li:first-child+li+li+li+li.actived{background-image: url(../images/head-navi-bg/1024/B5.png);}
.head-navi>li:first-child+li+li+li+li+li:hover,.head-navi>li:first-child+li+li+li+li+li.actived{background-image: url(../images/head-navi-bg/1024/B6.png);}

/* PC (portrait) ----------- */
@media only screen
and (min-width : 200px) and (max-width: 1400px){
    .lt-wrap{width: 1024px;}
    .head-navi{
        background-image: url(../images/head-navi-bg/1024/navi_bg.png);
    }
    .head-navi>li:first-child:hover,.head-navi>li:first-child.actived{background-image: url(../images/head-navi-bg/1024/B1.png);}
    .head-navi>li:first-child+li:hover,.head-navi>li:first-child+li.actived{background-image: url(../images/head-navi-bg/1024/B2.png);}
    .head-navi>li:first-child+li+li:hover,.head-navi>li:first-child+li+li.actived{background-image: url(../images/head-navi-bg/1024/B3.png);}
    .head-navi>li:first-child+li+li+li:hover,.head-navi>li:first-child+li+li+li.actived{background-image: url(../images/head-navi-bg/1024/B4.png);}
    .head-navi>li:first-child+li+li+li+li:hover,.head-navi>li:first-child+li+li+li+li.actived{background-image: url(../images/head-navi-bg/1024/B5.png);}
    .head-navi>li:first-child+li+li+li+li+li:hover,.head-navi>li:first-child+li+li+li+li+li.actived{background-image: url(../images/head-navi-bg/1024/B6.png);}

}
@media only screen
and (min-width : 1400px) {
    .lt-wrap{width: 1200px;}
    .head-navi{
        background-image: url(../images/head-navi-bg/1200/navi_bg.png);
    }
    .head-navi>li{
        width: 195.67px !important;
    }
    .head-navi>li:first-child:hover,.head-navi>li:first-child.actived{background-image: url(../images/head-navi-bg/1200/B1.png);}
    .head-navi>li:first-child+li:hover,.head-navi>li:first-child+li.actived{background-image: url(../images/head-navi-bg/1200/B2.png);}
    .head-navi>li:first-child+li+li:hover,.head-navi>li:first-child+li+li.actived{background-image: url(../images/head-navi-bg/1200/B3.png);}
    .head-navi>li:first-child+li+li+li:hover,.head-navi>li:first-child+li+li+li.actived{background-image: url(../images/head-navi-bg/1200/B4.png);}
    .head-navi>li:first-child+li+li+li+li:hover,.head-navi>li:first-child+li+li+li+li.actived{background-image: url(../images/head-navi-bg/1200/B5.png);}
    .head-navi>li:first-child+li+li+li+li+li:hover,.head-navi>li:first-child+li+li+li+li+li.actived{background-image: url(../images/head-navi-bg/1200/B6.png);}

}
/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 800px) {
    .lt-content{height:1rem;background: blue;margin:20px;}
}
.lt-outer-wrap{overflow: hidden}

html,body{
    height:100%;
}


/*================================布局样式================================*/
.lt-head{height:375px;position:relative;z-index:10}
.lt-body{min-height:100%;margin-top:-375px;margin-bottom:-148px}
.lt-body>.lt-headtmp{height:325px;background:#fff}
.lt-body>.lt-foottmp{height:148px}
.lt-foot{height:148px}
.mt15{margin-top:15px}
.mt10{margin-top:10px}
.mt5{margin-top:5px}
.mt20{margin-top:20px}
.mt30{margin-top:30px}
.mb15{margin-bottom:15px}
.mb10{margin-bottom:10px}
.mb5{margin-bottom:5px}
.mb20{margin-bottom:20px}
.mb30{margin-bottom:30px}
.mr15{margin-right:15px}
.mr10{margin-right:10px}
.mr5{margin-right:5px}
.mr20{margin-right:20px}
.mr30{margin-right:30px}
.ml15{margin-left:15px}
.ml10{margin-left:10px}
.ml5{margin-left:5px}
.ml20{margin-left:20px}
.ml30{margin-left:30px}
hr{border:0;border-bottom:1px solid #94D8FF}
.clearfix:after{content:'';display:block;clear:both}
.lr-layout-l{float:left;width:290px}
.lr-layout-r{overflow:hidden;margin-left:310px}




/*================================页签样式================================*/
.tab-bar-wrap{position:relative}
.tab-bar-wrap .tab-page>div{display:none}
.tab-page>div:first-child{display:block}
.tab-bar-wrap .tab-bar{line-height:33px;height:34px;position:relative;list-style:none;border-bottom:1px solid #1F476B}
.tab-bar-wrap .tab-bar:after{content:'';display:block;clear:both}
.tab-bar-wrap.tab-bar-with-head .tab-bar .tab-bar-head{float:left;height:34px;line-height:34px;color:#fff;font-weight:600;font-size:16px;text-align:center;position:relative;padding-left:25px;padding-right:10px;background-image:url(../images/home-main/main_head_bg.png);background-size:100% 100%;background-position:25px 0;background-repeat:no-repeat;margin-right:15px}
.tab-bar-wrap.tab-bar-with-head .tab-bar .tab-bar-head:before{content:'';position:absolute;left:0;top:0;width:25px;height:34px;background-image:url(../images/home-main/main_bar_arrow.png);background-size:25px 34px;background-position:0 0}
.tab-bar-wrap .tab-bar>li{color:#054582;font-weight:600;font-size:16px;text-align:center;border-right:1px solid rgba(255,255,255,.2);float:left;position:relative;padding:0 17px;background-repeat:repeat;background-image:url(../images/tab_item_bg.jpg);cursor:pointer}
.tab-bar-wrap .tab-bar>li:hover,.tab-bar>li.actived{background-image:url(../images/tab_item_hover_bg.jpg);color:#fff}
.tab-bar-wrap .tab-bar.arrow-down-actived>li.actived:after{content:'';position:absolute;left:50%;bottom:-7px;width:13px;height:7px;background-image:url(../images/arrow_down.png);background-repeat:no-repeat;margin-left:-6px}
.tab-bar-wrap .tab-bar>li.tab-corner{padding-left:20px;text-align:left;background-image:none}
.tab-bar-wrap .tab-bar>li.tab-corner:after{content:'';position:absolute;left:17px;top:0;right:0;bottom:0;background-image:url(../images/tab_item_bg.jpg);background-repeat:repeat;z-index:-1}
.tab-bar-wrap .tab-bar>li.tab-corner:hover:after,.tab-bar>li.tab-corner.actived:after{background-image:url(../images/tab_item_hover_bg.jpg)}
.tab-bar-wrap .tab-bar>li.tab-corner:before{content:'';position:absolute;left:0;top:0;width:17px;height:33px;background-image:url(../images/tab_item_corner.png);background-size:17px 33px;background-position:0 0;z-index:-1}
.tab-bar-wrap .tab-bar>li.tab-corner:hover:before,.tab-bar>li.tab-corner.actived:before{background-image:url(../images/tab_item_hover_corner.png)}
.tab-bar-wrap .tab-bar-more{position:absolute;right:0;top:0;color:#054582;line-height:33px;font-size:16px;text-decoration:none}
.tab-bar.tab-second-bar{border-bottom:0}
.tab-bar.tab-second-bar li{background:#94D7FF;height:35px;line-height:35px}
.tab-bar.tab-second-bar li.actived{background-image:url(../images/tab_item_hover_bg.jpg);color:#fff}




/*================================幻灯片样式================================*/
.fullSlide{position:relative;overflow:hidden;height:219px}
.fullSlide .bd{position:relative}
.fullSlide .bd li a{width:100%;height:100%;display:inline-block;vertical-align:top}
.fullSlide .bd li .title{position:absolute;bottom:0;left:0;font-size:12px;height:25px;line-height:25px;z-index:2;padding-left:10px;color:#CDECFE}
.fullSlide .hd{position:absolute;bottom:0;left:0;width:100%;height:25px;line-height:25px;background:#095199;z-index:1}
.fullSlide .hd ul{float:right;list-style:none;height:25px;overflow:hidden;padding:10px 0;padding-right:5px}
.fullSlide .hd ul>li{float:left;background-color:#5096CA;width:7px;height:7px;margin:0 2px;line-height:25;border-radius:50%}
.fullSlide .hd ul>li.on{background-color:#CDECFE}


/*================================搜索条样式================================*/
.search-bar{height:30px;width:338px;background-image:url(../images/head_search_bar.png)}
.search-bar>input{color: #8c8c8c;font-size:14px;height:26px;line-height:28px;padding:0;border:0;outline:0;position:absolute;background:0 0;left:10px;top:2px;width:275px}
.search-bar>input:focus+ul{display:block}
.search-bar-btn{display:block;width:48px;height:30px;position:absolute;right:0;top:0;cursor:pointer}
.search-bar-btn:hover{background-image: url(../images/head_search_bar_btn_hover.png);background-repeat:no-repeat}
.search-bar>.tip{color:#788a94;position:absolute;display:none;top:32px;left:5px;width:285px;height:200px;border:1px solid #eee;background:#fff;z-index:20;box-shadow:1px 1px 5px rgba(0,0,0,.5);list-style:none;text-align:left}
.search-bar>.tip>li{height:25px;line-height:25px;padding:0 10px;font-size:12px;border-bottom:1px dashed #ccc;cursor:pointer}
.search-bar>.tip>li:hover{background:#184DA1;color:#fff}


/*================================搜索条样式2================================*/
.search-bar2{height:31px;width:434px;position: relative;background-image:url(../images/search_bar.png)}
.search-bar2>input{color: #6b98ba;font-size:14px;height:26px;line-height:28px;padding:0;border:0;outline:0;position:absolute;background:0 0;left:10px;top:2px;width:365px}
.search-bar2>input:focus+ul{display:block}
.search-bar2-btn{display:block;width:50px;height:31px;position:absolute;right:0;top:0;cursor:pointer}
.search-bar2-btn:hover{background-image: url(../images/search_bar_btn_hover.png);background-repeat:no-repeat}
.search-bar2>.tip{color:#788a94;position:absolute;display:none;top:32px;left:5px;width:381px;height:200px;border:1px solid #eee;background:#fff;z-index:20;box-shadow:1px 1px 5px rgba(0,0,0,.5);list-style:none;text-align:left}
.search-bar2>.tip>li{height:25px;line-height:25px;padding:0 10px;font-size:12px;border-bottom:1px dashed #ccc;cursor:pointer}
.search-bar2>.tip>li:hover{background:#184DA1;color:#fff}



/*================================搜索条样式3================================*/
.search-bar3{height:31px;width:316px;position: relative;background-image:url(../images/search_bar2.png)}
.search-bar3>input{color: #6b98ba;font-size:14px;height:26px;line-height:28px;padding:0;border:0;outline:0;position:absolute;background:0 0;left:10px;top:2px;width:365px}
.search-bar3>input:focus+ul{display:block}
.search-bar3-btn{display:block;width:48px;height:31px;position:absolute;right:0;top:0;cursor:pointer}
.search-bar3-btn:hover{background-image: url(../images/search_bar2_btn_hover.png);background-repeat:no-repeat}
.search-bar3>.tip{color:#788a94;position:absolute;display:none;top:32px;left:5px;width:265px;height:200px;border:1px solid #eee;background:#fff;z-index:20;box-shadow:1px 1px 5px rgba(0,0,0,.5);list-style:none;text-align:left}
.search-bar3>.tip>li{height:25px;line-height:25px;padding:0 10px;font-size:12px;border-bottom:1px dashed #ccc;cursor:pointer}
.search-bar3>.tip>li:hover{background:#184DA1;color:#fff}



/*================================搜索条样式4================================*/
.search-bar4{height:31px;width:435px;position: relative;background-image:url(../images/search_bar3.png)}
.search-bar4>input{color: #6b98ba;font-size:14px;height:26px;line-height:28px;padding:0;border:0;outline:0;position:absolute;background:0 0;left:10px;top:2px;width:365px}
.search-bar4>input:focus+ul{display:block}
.search-bar4-btn{display:block;width:41px;height:31px;position:absolute;right:0;top:0;cursor:pointer}
.search-bar4-btn:hover{background-image: url(../images/search_bar3_btn_hover.png);background-repeat:no-repeat}
.search-bar4>.tip{color:#788a94;position:absolute;display:none;top:32px;left:5px;width:365px;height:200px;border:1px solid #eee;background:#fff;z-index:20;box-shadow:1px 1px 5px rgba(0,0,0,.5);list-style:none;text-align:left}
.search-bar4>.tip>li{height:25px;line-height:25px;padding:0 10px;font-size:12px;border-bottom:1px dashed #ccc;cursor:pointer}
.search-bar4>.tip>li:hover{background:#184DA1;color:#fff}






/*================================面包屑样式================================*/
.breadcrumbs{position:relative;overflow:hidden;margin:10px 20px;padding-left:100px;color:#004689;list-style:none;}
.breadcrumbs.white-theme{color:#fff;}
.breadcrumbs a{color:#004689;text-decoration:none;cursor:pointer;}
.breadcrumbs.white-theme a{color:#fff;}
.breadcrumbs a:hover{text-decoration:underline;}
.breadcrumbs>li{float:left;padding:0 15px 0 5px;height:30px;background-image:url(../images/breadcrumbs_arrow.png);background-position:right center;background-repeat:no-repeat;font-size:18px;line-height:30px;}
.breadcrumbs.white-theme>li{background-image:url(../images/breadcrumbs_arrow_white.png);}
.breadcrumbs:before{position:absolute;top:0;left:0;height:30px;content:'当前位置：';font-weight:600;font-size:18px;line-height:30px;}
.breadcrumbs>li.breadcrumbs-item-last,.breadcrumbs>li:last-child{background-image:none;}



/*================================左侧选择栏================================*/
.left-bar ul{margin:15px 0;color:#fff;list-style:none;text-align:center;font-weight:600;font-size:15px}
.left-bar ul li{position:relative;margin:10px 0;height:30px;background:#4F96CC;line-height:30px;cursor:pointer}
.left-bar ul li:hover,.trade-info-page2 .left-bar ul li.actived{background:#F90}
.left-bar ul li:hover:after,.trade-info-page2 .left-bar ul li.actived:after{position:absolute;top:0;right:-15px;width:15px;height:30px;background-image:url(../images/left-arrow.png);background-repeat:no-repeat;content:''}



/*================================右侧数据（类似目录-----效果的列表 使用ul列表模拟表格）================================*/
.index-list{color:#00478A;list-style:none;font-weight:500;font-size:16px;}
.index-list li{height:40px;text-align:center;line-height:40px;}
.index-list li .index-list-index{float:left;width:75px;}
.index-list li .index-list-content{float:left;width:595px;background-image:url(../images/index_list_dot.jpg);background-position:center center;background-repeat:repeat-x;text-align:left;}
.index-list li .index-list-content p{float:left;overflow:hidden;padding-right:5px;height:40px;max-width:595px;background:#fff;}
.index-list li .index-list-date{float:right;width:125px;}



