.It-wrapx{
    margin:0 auto;
    padding:0 ;
    
}
.lt-head-innerx{
    position: absolute;
    padding-top:10px;
    top:0;
    left:0;
    width:100%;
    height:375px;
    background-image:url(../images/head_bg.jpg) ;
    background-repeat: repeat-x;
}
.main-contents{
    position: relative;
    width: 1000px;
    background-color: #ffffff;
    margin-top: -139px;
    z-index: 10;
    margin-left: 220px;
}
.search-div{
    background-color:#CCECFF;
    height: 140px;
}
.search-bar2 {
    height: 31px;
    width: 434px;
    position: relative;
    margin: 0 auto;
    top: 40px;
    background-image: url(../images/search_bar.png);
}
.search-bar2>input {
    color: #6b98ba;
    background-color: #ffffff;
    font-size: 14px;
    height: 26px;
    line-height: 28px;
    padding: 0;
    border: 0;
    outline: 0;
    position: absolute;
    background: 0 0;
    left: 10px;
    top: 2px;
    width: 365px;
}
.search-bar2>.tip {
    color: #788a94;
    position: absolute;
    display: none;
    top: 32px;
    left: 5px;
    width: 381px;
    height: 200px;
    border: 1px solid #eee;
    background: #fff;
    z-index: 20;
    box-shadow: 1px 1px 5px rgba(0,0,0,.5);
    list-style: none;
    text-align: left;
}
.search-bar2>.tip>li {
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    font-size: 12px;
    border-bottom: 1px dashed #ccc;
    cursor: pointer;
}
.search-bar-btn {
    display: block;
    width: 48px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}
.table-content{
    position: relative;
    top: 40px;
}
.table-content table{
    position: relative;
    top: -80px;
    margin-left: 40px;

}
.table-contentd table tr{
    margin-left: 10px;
}
.page-navigator{
    margin-left: 140px;
    font-size: 18px;
    color: #0154A4;
    font-weight: bold;
    margin-bottom: 40px;
}

.page-navigator span{
    margin-right: 40px;

}
.page-navigator span a{
    text-decoration: none;
    font-size: 18px;
    color: #0154A4;
    font-weight: bold;
}

.page-navigator ul li a{
    text-decoration: none;
    font-size: 18px;
    color: #0154A4;
    font-weight: bold;
}
.breadcrumbs {
    margin: 45px 95px;
    position: relative;
    padding-left: 100px;
    list-style: none;
    overflow: hidden;
    color: #004689;
}
.table-content table th{
    background-color: #0154A4;
    padding: 10px;
    color: #ffffff;
    font-size: 20px;
    text-align: left;   
}
.table-content table td{
    text-align: left;
    font-size: 18px;
    color: #1363AD;
    padding: 10px;
}
.table-content table tr:nth-child(even) td  {
    background-color: #E8F5FF;

}
.table-content table td:nth-child(3) {
    background-color: #CCE9FF;

}