
.main-contents {
    position: relative;
    width: 1000px;
    background-color: #CCECFF;
    margin-top: -140px;
    z-index: 10;
    margin-left: 220px;
   
}
.right-contents{
    top: -100px;
}

.search-div {
    background-color: #CCECFF;
    height: 153px;
    margin-top: -436px;
}
.search-bar2 {
    height: 31px;
    width: 434px;
    position: relative;
    /* margin: 0 auto; */
    margin-left: 400px;
    top: 40px;
    background-image: url(../images/search_bar.png);
}
.table-contents table th {
    background-color: #0154A4;
    padding: 0px;
    line-height: 35px;
    color: #fff;
    font-size: 18px;
    text-align: left;
    font-weight: 400;
}
.table-contents table td {
    padding: 0px;
    line-height: 35px;
    font-size: 15px;
    background-color: #CCECFF;
    text-align: left;
}
.table-contents {
    position: relative;
    top: 40px;
    height: 263px;
}

.table-contents table {
    position: relative;
    top: -90px;
    margin-left: 265px;
    width: 700px;
    color: #0154A4;
}

th {
    background-color: #0154A4;
    padding: 10px;
    color: #ffffff;
    font-size: 18px;
    text-align: left;
    font-weight: normal;
}
td {
    text-align: center;
    padding: 13px;
    font-size: 15px;
    background-color:  #CCECFF;
}
#table-number{
    text-align: center;
}
table tr:nth-child(even) td ,table tr.even td  {
    background-color:   #CCECFF;

}



.page-navigator span {
    margin-right: 30px;
}
.page-navigator {
    margin-left: 280px;
    position: relative;
    top: -30px;
    font-size: 18px;
    color: #0154A4;
    font-weight: bold;
    margin-bottom: 0px;
}
