
.main-contents {
    position: relative;
    width: 1000px;
    background-color: #CCECFF;
    top: -140px;
    z-index: 10;
    margin: 0 auto;
   overflow: hidden;
}
.lt-main-container{
    height: 476px;
}
.left-image{ 
    width: 242px;
    height: 616px;
    float: left;
    background-image: url(../images/otherpages/survey-image.png);
}
.right-contents {
    float: right;
    height: 616px;
    width: 758px;
}

.search-div {
    background-color: #CCECFF;
    height: 105px;
    margin: 0 auto;
}
.search-bar2 {
    height: 31px;
    width: 434px;
    position: relative;
    /* margin: 0 auto; */
    top: 40px;
    background-image: url(../images/search_bar.png);
}
.table-contents table th {
    background-color: #0154A4;
    padding: 0px;
    line-height: 35px;
    color: #fff;
    font-size: 18px;
    text-align: left;
    font-weight: 400;
}
.table-contents table td {
    padding: 0px;
    line-height: 35px;
    font-size: 15px;
    background-color: #CCECFF;
    text-align: left;
}
.table-contents {
    margin-bottom: 30px
}

.table-contents table {
    position: relative;
    top: 0px;
    margin: 0 auto;
    width: 700px;
    color: #0154A4;
}

th {
    background-color: #0154A4;
    padding: 10px;
    color: #ffffff;
    font-size: 18px;
    text-align: left;
    font-weight: normal;
}
td {
    text-align: center;
    padding: 13px;
    font-size: 15px;
    background-color:  #CCECFF;
}
.table-number{
    text-align: center;
}
table tr:nth-child(even) td ,table tr.even td  {
    background-color:   #CCECFF;

}
.page-navigator span {
    margin-right: 30px;
}
.page-navigator {
    position: absolute;
    top: 560px;
    font-size: 18px;
    margin-left: 40px;
    color: #0154A4;
    font-weight: bold;
    margin-bottom: 0px;
}
