.service-guide-page2 {
    padding-top:45px;background-color:#dde6eb;
}
.service-guide-page2 .artical-wrap {
    background: #fff
}
.service-guide-page2 .head{
    height:65px;
    line-height:65px;
    background-image: url(../../../images/service-guide/head_bg.png);
    background-repeat: repeat-x;
    text-align: center;
    color:#fff;
    font-size: 22px;
    font-weight: 500;
}
.service-guide-page2 .search-bar2{
    margin:20px auto;
}
.service-guide-page2 hr{
    border-color:#E2E9EC;
}
.service-guide-page2 .room-wrap{
    list-style: none;
    text-align: left;
    padding:40px 40px;
    font-size:0;
}
.service-guide-page2 .room-wrap:after{
    content:'';
    display: inline-block;
    height:0px;
}
.service-guide-page2 .room-wrap li{
    display: inline-block;
    width:90px;
    height:179px;
    margin:15px 30px;
    background-image: url(../../../images/service-guide/room-icon.png);
    background-repeat: no-repeat;
    color:#fff;
    font-size:16px;
    font-weight: 600;
    text-align: center;
    position: relative;
}
.service-guide-page2 .room-wrap.room-owner li{
    width:148px;
    height:160px;
    margin:15px 15px;
    background-image: url(../../../images/service-guide/room-icon3.png);
}
.service-guide-page2 .room-wrap li.unbook{
    background-image: url(../../../images/service-guide/room-icon2.png);
}
.service-guide-page2 .room-wrap.room-owner li.unbook{
    background-image: url(../../../images/service-guide/room-icon4.png);
}
.service-guide-page2 .room-wrap li>p:first-child{
    position: absolute;
    bottom:46px;
    width:100%;
}
.service-guide-page2 .room-wrap li>p:first-child+p{
    position: absolute;
    bottom:12px;
    width:100%;
    font-size:18px;
}
.service-guide-page2 .room-wrap li.unbook>p:first-child+p{
    color:#0154A4;
}

.service-guide-page2 .desc{
    padding:20px 40px 40px;
    background: #E8F5FF;
    color:#26649D;
    font-size:16px;
    line-height: 1.8;
}
.service-guide-page2 .tips {
    position: fixed;
    display: none;
    width:505px;
    height:125px;
    left:-999999px;
    top:-999999px;
    background-image: url(../../../images/service-guide/tips_bg.png);
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 30px 40px;
}
.service-guide-page2 .tips p{
    line-height: 20px;
    color:#0154A4;
}
.service-guide-page2 hr{
    border-color:#0154A4;
}

