.market-honesty-page3 {
    padding-top:45px;background-color:#dde6eb;
}
.market-honesty-page3 .artical-wrap {
    background: #fff
}

.market-honesty-page3 .left-bar {
    float:left;
    background: #85C1E3;
    width:200px;
    height:740px;
}
.market-honesty-page3 .right-content-wrap {
    overflow: hidden;
    height:740px;
    padding-left:40px;
    position: relative;
}
.market-honesty-page3 .head {
    background-image: url(../../../images/market-honesty/head_bg1.png);
    background-repeat: repeat-x;
    height:61px;
    margin:0 auto;
    line-height: 61px;
    color:#fff;
    text-align: center;
    font-size:22px;
    font-weight:bold;
}
.market-honesty-page3  .search-bar2{
    margin:15px auto;
}
.market-honesty-page3 .page-navigator{
    position: absolute;
    left:0;
    right:0;
    bottom:0;
}